@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	min-height:			100vh;
	margin:				0;
	padding:			1rem;
	font-family:		'Open Sans', san-serif;
	color:				#1A1A1A;
	background-color:	#ECF0F1;
	background-image:	url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20550%20400%22%20preserveAspectRatio%3D%22xMinYMin%20meet%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-819.2%22%20x2%3D%22819.2%22%20spreadMethod%3D%22pad%22%20gradientTransform%3D%22matrix(0.0073699951171875%20-0.0441741943359375%200.121246337890625%200.0202484130859375%20451.75%2020.45)%22%20id%3D%22gradient0%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23feca57%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23ff9f43%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-819.2%22%20x2%3D%22819.2%22%20spreadMethod%3D%22pad%22%20gradientTransform%3D%22matrix(0.0178985595703125%20-0.0518951416015625%200.2304534912109375%200.0795135498046875%20384.1%2067.4)%22%20id%3D%22gradient1%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23f368e0%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23ee5253%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-819.2%22%20x2%3D%22819.2%22%20spreadMethod%3D%22pad%22%20gradientTransform%3D%22matrix(0.016876220703125%20-0.063751220703125%200.3485565185546875%200.0922393798828125%20280.3%2095.35)%22%20id%3D%22gradient2%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23dc29e7%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%239512f1%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-819.2%22%20x2%3D%22819.2%22%20spreadMethod%3D%22pad%22%20gradientTransform%3D%22matrix(0.019805908203125%20-0.0951080322265625%200.354095458984375%200.07373046875%20276%20182.15)%22%20id%3D%22gradient3%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%231b19f0%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2366acf8%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-819.2%22%20x2%3D%22819.2%22%20spreadMethod%3D%22pad%22%20gradientTransform%3D%22matrix(0.0199432373046875%20-0.075347900390625%200.3336181640625%200.088287353515625%20273.25%20272.2)%22%20id%3D%22gradient4%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%232753f3%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2358c6fa%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3ClinearGradient%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%22-819.2%22%20x2%3D%22819.2%22%20spreadMethod%3D%22pad%22%20gradientTransform%3D%22matrix(0.0295562744140625%20-0.1102142333984375%200.3188934326171875%200.0855255126953125%20274.95%20381.65)%22%20id%3D%22gradient5%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%232e86de%22%3E%3C%2Fstop%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2300d2d3%22%3E%3C%2Fstop%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cpath%20fill%3D%22url(%23gradient0)%22%20d%3D%22M549.65%2048.15%20L546.5%2048%20Q524.65%2048%20501.7%2052.9%20L483.75%2056.4%20Q472.95%2058%20461.5%2058%20444.75%2058%20431.45%2054.55%20418.25%2051.1%20404.3%2043.2%20392.2%2036.4%20374.55%2023.1%20L349.9%203.95%20Q348.65%202.95%20348.2%201.4%20347.95%200.7%20348%200%20L550.05%200%20550.05%2048.15%20549.65%2048.15%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22none%22%20fill%3D%22url(%23gradient1)%22%20d%3D%22M166%20-5%20L353%20-5%20Q354.7%20-5%20356.1%20-3.9%20L361.1%200%20353%200%20377.55%2019.1%20Q394.9%2032.15%20406.75%2038.85%20420.1%2046.4%20432.7%2049.7%20445.45%2053%20461.5%2053%20472.6%2053%20483%2051.45%20L500.65%2048%20Q524.15%2043%20546.5%2043%20L550.05%2043.15%20550.05%2038.15%20550.45%2038.2%20Q552.4%2038.35%20553.75%2039.8%20555.05%2041.2%20555.05%2043.15%20L555.05%20110.2%20Q555.05%20111.75%20554.2%20113%20553.35%20114.25%20551.9%20114.85%20L549%20115.1%20Q535.15%20112.05%20524.5%20111%20L462.55%20108.3%20Q420.65%20107.4%20401.15%20108%20384.05%20108.55%20368.6%2099.55%20358%2093.4%20345.1%2080.05%20L345.05%2080.05%20326.7%2061.45%20Q318.4%2054.25%20311.5%2054%20306.05%2054.05%20297.95%2056.45%20293.1%2057.9%20281.4%2062.2%20257.15%2071.1%20245.5%2071%20222.4%2071%20207.35%2065.75%20192.4%2060.55%20182.8%2049.5%20174.5%2040.1%20168.35%2023.85%20165.3%2015.95%20161.2%201.35%20160.75%20-0.15%20161.3%20-1.65%20161.8%20-3.15%20163.15%20-4.05%20164.4%20-5%20166%20-5%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22none%22%20fill%3D%22url(%23gradient2)%22%20d%3D%22M169.05%20-3.95%20Q170.35%20-2.95%20170.8%20-1.35%20L171.2%200%20166%200%20Q170.05%2014.35%20173%2022.05%20178.8%2037.35%20186.55%2046.2%20195.35%2056.25%20209%2061%20223.4%2066%20245.5%2066%20256.55%2066%20279.65%2057.5%20291.6%2053.1%20296.5%2051.65%20305.45%2049%20311.5%2049%20319.95%2049%20329.95%2057.65%20L348.65%2076.55%20Q361%2089.3%20371.1%2095.2%20385.3%20103.5%20401%20103%20420.6%20102.4%20462.65%20103.3%20L525%20106%20Q535.9%20107.1%20550.05%20110.2%20L550.05%20105.1%20551.15%20105.35%20Q552.85%20105.7%20553.95%20107.1%20555.05%20108.45%20555.05%20110.2%20L555.05%20230.75%20Q555.05%20232.55%20553.85%20234%20552.65%20235.4%20550.85%20235.7%20549%20235.95%20547.45%20235%20511%20212.4%20477%20185.8%20437.5%20155%20393.2%20134.5%20345.3%20112.2%20292.75%20116.7%20240.65%20121%20188.7%20118.6%20132.2%20116.3%2085.45%2083.05%20L85.45%2083%20Q74.7%2075.3%2063.6%2070.55%2031.8%2057.05%202.4%2072.6%200.8%2073.45%20-0.9%2073.1%20-2.7%2072.7%20-3.8%2071.35%20-4.95%2069.95%20-4.95%2068.2%20L-4.95%200%20Q-4.95%20-2.05%20-3.45%20-3.5%20-2%20-5%200.05%20-5%20L166%20-5%20Q167.7%20-5%20169.05%20-3.95%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22none%22%20fill%3D%22url(%23gradient3)%22%20d%3D%22M480.05%20181.85%20Q513.85%20208.3%20550.05%20230.75%20L550.05%20224.85%20552.7%20226.5%20Q553.8%20227.15%20554.45%20228.3%20555.05%20229.45%20555.05%20230.75%20L555.05%20290.2%20Q555.05%20291.6%20554.3%20292.8%20553.55%20294%20552.3%20294.65%20551%20295.3%20549.6%20295.15%20510.25%20291.35%20471.45%20283.65%20L471.4%20283.65%20Q422.25%20273.6%20375.65%20254.3%20331.25%20235.95%20290.05%20211.1%20L290%20211.1%20Q260.95%20193.45%20227.8%20187.3%20L227.8%20187.25%20Q180.1%20178.2%20135.6%20197.45%2088.5%20217.75%2037.8%20213.35%2016.55%20211.5%20-1.75%20204.35%20-3.2%20203.75%20-4.05%20202.5%20-4.95%20201.2%20-4.95%20199.7%20L-4.95%2068.2%20Q-4.95%2066.8%20-4.2%2065.6%20-3.5%2064.4%20-2.3%2063.75%20L0.05%2062.55%200.05%2068.2%20Q31.5%2051.5%2065.55%2065.95%2077.15%2070.9%2088.35%2078.95%20133.9%20111.35%20188.9%20113.6%20240.55%20116%20292.3%20111.7%20346.2%20107.1%20395.3%20129.95%20440.1%20150.7%20480.05%20181.85%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22none%22%20fill%3D%22url(%23gradient4)%22%20d%3D%22M429.3%20337.45%20Q369.85%20350%20309.35%20345.45%20243.45%20340.65%20215.4%20282.65%20209.45%20270.3%20198.3%20264.25%20144.55%20235.35%20101.25%20281.45%2068.3%20316.4%2033.1%20348.95%2017.15%20363.65%201.25%20367.45%20L-1.7%20367.3%20Q-3.2%20366.7%20-4.05%20365.45%20-4.95%20364.15%20-4.95%20362.6%20L-4.95%20199.7%20Q-4.95%20198%20-3.9%20196.65%20-2.9%20195.3%20-1.3%20194.85%20L0.05%20194.65%200.05%20199.7%20Q17.7%20206.6%2038.2%20208.35%2087.7%20212.65%20133.6%20192.85%20179.55%20173%20228.7%20182.35%20262.75%20188.7%20292.6%20206.8%20333.5%20231.45%20377.55%20249.65%20423.7%20268.8%20472.4%20278.75%20511%20286.4%20550.05%20290.2%20L550.05%20285.15%20550.55%20285.2%20Q552.45%20285.4%20553.75%20286.85%20555.05%20288.25%20555.05%20290.2%20L555.05%20331.45%20Q555.05%20332.95%20554.25%20334.25%20553.4%20335.45%20552%20336.05%20L549.1%20336.35%20544.85%20335.6%20Q486.7%20325.25%20429.3%20337.45%22%3E%3C%2Fpath%3E%3Cpath%20stroke%3D%22none%22%20fill%3D%22url(%23gradient5)%22%20d%3D%22M550.05%20331.45%20L550.05%20400%200.05%20400%200.05%20362.6%20Q14.85%20358.95%2029.7%20345.25%2064.75%20312.85%2097.6%20278%20143.6%20229.15%20200.65%20259.85%20213.2%20266.6%20219.9%20280.45%20246.7%20335.9%20309.7%20340.45%20369.5%20344.95%20428.25%20332.55%20486.6%20320.15%20545.7%20330.65%20L550.05%20331.45%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
	background-size:	cover;
	background-repeat:	no-repeat;
}

svg {
	display:			block;
	width:				100%;
	min-height:			50vh;
}

svg g {
	position:			absolute;
	top:				50px;
}

svg path {
	mix-blend-mode:		lighten;
}

.letter {
	opacity:			0;
}

.flex {
	display:			-webkit-flex;
	display:			flex;
	-webkit-flex-wrap:	wrap;
	flex-wrap:			wrap;
	-webkit-justify-content: center;
	justify-content:	center;
	-webkit-align-content:	center;
	align-content:		center;
	-webkit-align-items: center;
	align-items:		center;
	margin-left:		-1.250rem;
}

input {
	display:			inline-block;
	min-width:			25%;
	margin-left:		1.250rem;
	padding:			0.625rem;
	font-family:		'Open Sans', san-serif;
  font-size:      1.250rem;
	border-radius:		0.625rem;
	border:				0.125rem solid #1ABC9C;
	text-transform:		uppercase;
}

input:active, input:focus {
	border-color:		#9B59B6;
}

button {
	margin-left:		1.250rem;
	margin-right:		2.250rem;
	padding:			0.500rem 2.500rem;
	font-family:		'Open Sans', san-serif;
	font-size:			1.250rem;
	color:				#FEFEFE;
	background-color:	#E84393;
	border:				none;
	border-radius:		0.625rem;
	cursor:				pointer;
}

button:hover {
	background-color:	#1ABC9C;
}

.button-wrapper {
	margin-top:			1rem;
}

.easeoutquint, .easeoutquint * {
	-webkit-transition:		all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	transition:				all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

* {
	box-sizing:			border-box;
}